<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h4>Fale Mais</h4>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/users']">Usuários</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/call']">Logs</a>
      </li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0">
  <a  class="btn btn-outline-danger"  [routerLink]="['/login']" (click)="cleanToken()">
  <span class="glyphicon glyphicon-log-out"></span> Log out
  </a>
  </form>
</nav>

